<link rel="stylesheet" href="css/index.css"/>
<script src="js/jquery-3.4.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/menu.js"></script>

<div id="app">
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">位置</el-breadcrumb-item>
        <el-breadcrumb-item>产品管理</el-breadcrumb-item>
        <el-breadcrumb-item>产品分类列表</el-breadcrumb-item>
    </el-breadcrumb>
    <br/>

    <el-button type="primary" size="mini" @click="dialogFormVisible=true">新增</el-button>
    <el-table :data="tableData" height="450px" border style="width: 100%" :header-cell-style="{ textAlign: 'center' }" :cell-style="{ textAlign: 'center' }">
        <el-table-column prop="categoryId" label="分类序列号" width="180"></el-table-column>
        <el-table-column prop="name" label="产品类别名称" width="180"></el-table-column>
        <el-table-column prop="remark" label="描述" width="180"></el-table-column>
        <el-table-column label="操作" width="140">
            <template slot-scope="scope">
                <el-button type="text" size="medium" @click="delUser(scope.row.categoryId)">删除</el-button>
                <el-button type="text" size="medium" @click="updateCategory(scope.row)">编辑</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="sizes, prev, pager, next, jumper, ->, total, slot"
            :total="totalRecord"
            :current-page="currentPage"
            :page-size="pageSize"
            :page-sizes="[5,10,15,20]"
            @current-change="handleCurrentChange"
            @size-change="handleSize">
    </el-pagination>

    <el-dialog title="产品分类列表" :visible.sync="dialogFormVisible" width="500px" top="80px">
        <el-form label-width="80px" :model="form" >
            <el-form-item label="类别名称:" >
                <el-input v-model="form.name"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="描述:">
                <el-input type="textarea" rows="6" v-model="form.remark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top: -50px">
            <el-button @click="dialogFormVisible = false" size="small">取 消</el-button>
            <el-button type="primary" @click="sureAdd" size="small">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    window.onload = function () {
        let vm = new Vue({
            el: "#app",
            data:{
                labelPosition:"left",
                dialogFormVisible:false,
                tableData:[],
                form:{
                    categoryId: "",
                    name: "",
                    remark: ""
                },
                totalRecord:0,
                currentPage:1,
                pageSize:5
            },
            methods:{
                init:function (){
                    // this.tableData = tableData;
                    this.getData(this.currentPage,this.pageSize);
                },
                getData:function (curP,pSize){
                    let that = this;

                    axios.get("queryCategory?currentPage="+curP+"&pageSize="+pSize).then(function (resp){
                        that.tableData = resp.data.data.lists;
                        console.log(resp.data.totalRecord)
                        that.totalRecord = resp.data.data.totalRecord;
                    });
                },
                handleCurrentChange:function (val){
                    this.currentPage = val;
                    this.getData(this.currentPage,this.pageSize,this.account,this.name);
                },
                handleSize:function (val){
                    this.pageSize = val;
                    this.currentPage = 1;
                    this.getData(this.currentPage,this.pageSize,this.account,this.name);
                },
                sureAdd:function (){
                    this.dialogFormVisible = false;
                    let that = this;

                    let category = {
                        categoryId:this.form.categoryId,
                        name:this.form.name,
                        remark:this.form.remark,
                        };
                    axios.post("addOrUpdateCategory",category).then(function (resp){
                        if(resp.data.code == "200"){
                            that.$message({
                                message: '成功',
                                type: 'success'
                            });
                            that.form.categoryId = that.form.name = that.form.remark = "";
                            that.init();
                        }
                    });
                },
                delUser:function (categoryId){
                    let that = this;
                    if(window.confirm("确定删除？")){
                        axios.get("delCategory?categoryId="+categoryId).then(function (resp){
                            if(resp.data.code == "200"){
                                that.$message({
                                    message: '成功',
                                    type: 'success'
                                });
                                that.init()
                            }
                        }).catch(function (){
                            that.$message({
                                message: '该用户有关联的数据，不能删除！',
                                type: 'error'
                            });
                        });
                    }
                },
                updateCategory:function (category){
                    this.dialogFormVisible = true;
                    console.log(category)
                    this.form.categoryId = category.categoryId;
                    this.form.remark = category.remark;
                    this.form.name =  category.name;
                }
            }
        });
        vm.init();
    }
</script>