<link rel="stylesheet" href="css/index.css"/>
<script src="js/jquery-3.4.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/menu.js"></script>

<div id="app" style="height: 100%;">
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">位置</el-breadcrumb-item>
        <el-breadcrumb-item>销售管理</el-breadcrumb-item>
        <el-breadcrumb-item>客户管理</el-breadcrumb-item>
    </el-breadcrumb>
    <br/>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="编号:">
            <el-input v-model.trim="customerCode" placeholder="编号"></el-input>
        </el-form-item>
        <el-form-item label="名称:">
            <el-input v-model.trim="name" placeholder="名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary"  size="middle" @click="search">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary"  size="middle" @click="clear">清空查询</el-button>
        </el-form-item>
    </el-form>
    <el-button type="primary" size="mini" @click="dialogFormVisible=true" >新增</el-button>
    <el-table :data="tableData" :loading="loading" height="380px" border style="width: 100%" :header-cell-style="{ textAlign: 'center' }" :cell-style="{ textAlign: 'center' }">
        <el-table-column prop="customerCode" label="客户编号" width="180"></el-table-column>
        <el-table-column prop="name" label="名称" width="180"></el-table-column>
        <el-table-column prop="contactor" label="联系人" width="180"></el-table-column>
        <el-table-column prop="address" label="地址" width="180"></el-table-column>
        <el-table-column prop="postCode" label="邮政编码" width="180"></el-table-column>
        <el-table-column prop="createDate" label="注册日期" width="180"></el-table-column>
        <el-table-column prop="tel" label="电话" width="180"></el-table-column>
        <el-table-column prop="fax" label="传真" width="180"></el-table-column>
        <el-table-column prop="password" label="密码" width="180" v-if="false"></el-table-column>
        <el-table-column fixed="right" label="操作" width="140">
            <template slot-scope="scope">
                <el-button type="text" size="medium" @click="delCustomer(scope.row.customerCode)">删除</el-button>
                <el-button type="text" size="medium" @click="updateCustomer(scope.row)">编辑</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="sizes, prev, pager, next, jumper, ->, total, slot"
            :total="totalRecord"
            :current-page="currentPage"
            :page-size="pageSize"
            :page-sizes="[5,10,15,20]"
            @current-change="handleCurrentChange"
            @size-change="handleSize">
    </el-pagination>

    <!--供应商弹框-->
    <el-dialog title="客户界面" :visible.sync="dialogFormVisible" :before-close="closeBefore" width="500px" height="200px" top="10px" >
        <el-form label-width="80px" :model="form" >
            <!--            readonly="readonly"-->
            <el-form-item label="编号: " >
                <el-input v-model="form.customerCode"  autocomplete="off" type="text"
                          placeholder="请输入客户编号" maxlength="20" minlengh="4" show-word-limit
                ></el-input>
            </el-form-item>
            <el-form-item label="名称: " >
                <el-input v-model="form.name"  autocomplete="off" placeholder="请输入供应商名称" maxlength="100" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="密码:" >
                <el-input v-model="form.password"  autocomplete="off" show-password placeholder="请输入密码" maxlength="20" minlengh="4" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="联系人:" >
                <el-input v-model="form.contactor"  autocomplete="off" placeholder="请输入联系人姓名"></el-input>
            </el-form-item>
            <el-form-item label="地址:" >
                <el-input v-model="form.address"  autocomplete="off" placeholder="请输入地址"></el-input>
            </el-form-item>
            <el-form-item label="邮政编码:" >
                <el-input v-model="form.postCode"  autocomplete="off" placeholder="请输入邮政编码"></el-input>
            </el-form-item>
            <el-form-item label="注册时间:" >
                <div class="block">
                    <el-date-picker
                            v-model="form.createDate"
                            type="date"
                            placeholder="请选择日期"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </div>
            </el-form-item>
            <el-form-item label="电话:" >
                <el-input v-model="form.tel"  autocomplete="off" placeholder="请输入电话"></el-input>
            </el-form-item>
            <el-form-item label="传真:" >
                <el-input v-model="form.fax"  autocomplete="off" placeholder="请输入传真"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top: -50px">
            <el-button @click="cancel" size="small">取 消</el-button>
            <el-button type="primary" @click="sureAdd" size="small">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="供应商界面" :visible.sync="updateFrom" :before-close="closeBefore" width="500px" height="200px" top="10px" >
        <el-form label-width="80px" :model="form" >
            <!--            readonly="readonly"-->
            <el-form-item label="编号: " >
                <el-input v-model="form.customerCode"  autocomplete="off" type="text"
                          placeholder="请输入客户编号" maxlength="20" minlengh="4" show-word-limit  readonly="readonly"
                ></el-input>
            </el-form-item>
            <el-form-item label="名称: " >
                <el-input v-model="form.name"  autocomplete="off" placeholder="请输入供应商名称" maxlength="100" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="密码:" >
                <el-input v-model="form.password"  autocomplete="off" show-password placeholder="请输入密码" maxlength="20" minlengh="4" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="联系人:" >
                <el-input v-model="form.contactor"  autocomplete="off" placeholder="请输入联系人姓名"></el-input>
            </el-form-item>
            <el-form-item label="地址:" >
                <el-input v-model="form.address"  autocomplete="off" placeholder="请输入地址"></el-input>
            </el-form-item>
            <el-form-item label="邮政编码:" >
                <el-input v-model="form.postCode"  autocomplete="off" placeholder="请输入邮政编码"></el-input>
            </el-form-item>
            <el-form-item label="注册时间:" >
                <div class="block">
                    <el-date-picker
                            v-model="form.createDate"
                            type="date"
                            placeholder="请选择日期"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </div>
            </el-form-item>
            <el-form-item label="电话:" >
                <el-input v-model="form.tel"  autocomplete="off" placeholder="请输入电话"></el-input>
            </el-form-item>
            <el-form-item label="传真:" >
                <el-input v-model="form.fax"  autocomplete="off" placeholder="请输入传真"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top: -50px">
            <el-button @click="cancel" size="small">取 消</el-button>
            <el-button type="primary" @click="sureAdd" size="small">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    window.onload = function () {
        let vm = new Vue({
            el: "#app",
            data:{
                labelPosition:"left",
                dialogFormVisible:false,
                tableData:[],
                currentPage:1,
                pageSize:5,
                totalRecord:0,
                customerCode:"",
                name:"",
                password:"",
                contactor:"",
                address:"",
                fax:"",
                createDate:"",
                postCode:"",
                tel:"",
                updateFrom:false,
                readonly:false,
                form:{
                    customerCode:"",
                    name:"",
                    password:"",
                    contactor:"",
                    address:"",
                    fax:"",
                    createDate:"",
                    postCode:"",
                    tel:""
                }
            },
            methods:{
                init:function (){
                    this.loading = false;

                    this.getData(this.currentPage,this.pageSize,this.customerCode,this.name);
                },
                getData:function (curP,pSize,customerCode,name){
                    let that = this;
                    axios.get("queryCustomerByPage?currentPage="+curP+"&pageSize="+pSize+"&customerCode="+customerCode+"&name="+name).then(function (resp){
                        that.tableData = resp.data.data.lists;
                        console.log(resp.data.data.totalRecord)
                        that.totalRecord = resp.data.data.totalRecord;
                    });
                },
                handleCurrentChange:function (val){
                    this.currentPage = val;
                    this.getData(this.currentPage,this.pageSize,this.customerCode,this.name);
                },
                handleSize:function (val){
                    this.pageSize = val;
                    // this.currentPage = 1;
                    this.getData(this.currentPage,this.pageSize,this.customerCode,this.name);
                },
                sureAdd:function (){
                    this.dialogFormVisible = false;
                    this.updateFrom = false;
                    let that = this;
                    console.log()
                    let customer = {
                        oldCustomerCode:this.form.oldCustomerCode,
                        customerCode:this.form.customerCode,
                        name:this.form.name,
                        password:this.form.password,
                        createDate:this.form.createDate,
                        contactor:this.form.contactor,
                        address:this.form.address,
                        fax:this.form.fax,
                        tel:this.form.tel,
                        postCode:this.form.postCode,
                    };
                    axios.post("addCustomer",customer).then(function (resp){
                        if(resp.data.code == "200"){
                            that.$message({
                                message: '操作成功',
                                type: 'success'
                            });
                            that.form.customerCode = that.form.name = that.form.password = that.form.createDate = that.form.contactor = that.form.address= that.form.fax= that.form.tel= that.form.postCode = "";
                            that.init();
                        }
                    });
                    this.cancel()
                },
                updateCustomer:function (customer){
                    this.updateFrom = true;
                    this.readonly = true;
                    console.log(customer)
                    this.form.oldCustomerCode = customer.customerCode;
                    this.form.customerCode = customer.customerCode;
                    this.form.name =  customer.name;
                    this.form.password =  customer.password;
                    this.form.createDate = customer.createDate;
                    this.form.contactor = customer.contactor;
                    this.form.fax = customer.fax;
                    this.form.tel = customer.tel;
                    this.form.postCode = customer.postCode;
                    this.form.address = customer.address;
                },
                delCustomer:function (customerCode){
                    let that = this;
                    if(window.confirm("确定删除？")){
                        axios.get("delCustomer?customerCode="+customerCode).then(function (resp){
                            if(resp.data.code == "200"){
                                that.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                that.init()
                            }
                        }).catch(function (){
                            that.$message({
                                message: '该客户有关联的数据，不能删除！',
                                type: 'error'
                            });
                        });
                    }

                },
                closeBefore:function (){
                    this.cancel();
                },
                cancel:function (){
                    this.dialogFormVisible = false;
                    this.updateFrom=false;
                    this.form.customerCode = this.form.name = this.form.password = this.form.createDate = this.form.contactor = this.form.address= this.form.fax= this.form.tel= this.form.postCode = "";
                },
                search:function (){
                    /*模糊查询*/
                    this.getData(1,this.pageSize,this.customerCode,this.name);
                },
                clear:function (){
                    this.account=this.name="";
                    this.getData(1,this.pageSize,this.customerCode,this.name);
                },
            },
        });

        vm.init();
    }
</script>