<link rel="stylesheet" href="css/index.css"/>
<script src="js/jquery-3.4.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/menu.js"></script>


<div id="app" >
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">位置</el-breadcrumb-item>
        <el-breadcrumb-item>产品管理</el-breadcrumb-item>
        <el-breadcrumb-item>产品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <br/>

    <el-button type="primary" size="mini" @click="dialogFormVisible=true">新增</el-button>
    <el-table :data="tableData" height="450px" border style="width: 100%" :header-cell-style="{ textAlign: 'center' }" :cell-style="{ textAlign: 'center' }">
        <el-table-column prop="productCode" label="产品编号" width="180"></el-table-column>
        <el-table-column prop="name" label="产品名称" width="180"></el-table-column>
        <el-table-column prop="unitName" label="数量单位" width="180"></el-table-column>
        <el-table-column prop="categoryName" label="分类名称" width="180"></el-table-column>
        <el-table-column prop="createDate" label="添加日期" width="180"></el-table-column>
        <el-table-column prop="price" label="销售价" width="180"></el-table-column>
        <el-table-column prop="remark" label="产品描述" width="180"></el-table-column>
        <el-table-column fixed="right" label="操作" width="140">
            <template slot-scope="scope">
                <el-button type="text" size="medium" @click="delProduct(scope.row.productCode)">删除</el-button>
                <el-button type="text" size="medium" @click="updateProduct(scope.row)">编辑</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="sizes, prev, pager, next, jumper, ->, total, slot"
            :total="totalRecord"
            :current-page="currentPage"
            :page-size="pageSize"
            :page-sizes="[5,10,15,20]"
            @current-change="handleCurrentChange"
            @size-change="handleSize">
    </el-pagination>

    <!--产品弹框-->
    <el-dialog title="产品界面" :visible.sync="dialogFormVisible" :before-close="closeBefore" width="500px" height="200px" top="10px">
        <el-form label-width="80px" :model="form" >
            <el-form-item label="产品编号:" >
                <el-input v-model="form.productCode"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="产品名称:" >
                <el-input v-model="form.name"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="数量单位:" >
                <el-input v-model="form.unitName"  autocomplete="off"></el-input>
            </el-form-item>
<!--            <el-form-item label="分类名称:" >-->
<!--                <el-input v-model="form.categoryName"  autocomplete="off"></el-input>-->
<!--            </el-form-item>-->
            <el-form-item label="分类名称:">
                <el-select v-model="form.categoryName" clearable placeholder="请选择分类" style="width: 202px;margin-bottom: 10px">
                    <el-option
                            v-for="name in categoryNames"
                            :label="name"
                            :value="name">
                    </el-option>
                </el-select>
            </el-form-item>
<!--            <el-form-item label="添加日期:" >-->
<!--                <el-input v-model="form.createDate"  autocomplete="off"></el-input>-->
<!--            </el-form-item>-->
            <div class="block">
                <el-form-item label="添加日期:" >
                <span class="demonstration"></span>
                <el-date-picker
                        v-model="form.createDate"
                        align="right"
                        type="date"
                        placeholder="选择日期"
                        :picker-options="pickerOptions">
                </el-date-picker>
                </el-form-item>
            </div>
            <el-form-item label="销售价格:" >
                <el-input v-model="form.price"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="产品描述:" >
                <el-input type="textarea" rows="6" v-model="form.remark"  autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top: -50px">
            <el-button @click="cancel()" size="small">取 消</el-button>
            <el-button type="primary" @click="sureAdd" size="small">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    window.onload = function () {
        let vm = new Vue({
            el: "#app",
            data:{
                labelPosition:"left",
                dialogFormVisible:false,
                tableData:[],
                totalRecord:0,
                currentPage:1,
                pageSize:5,
                productCode:"",
                name:"",
                unitName:"",
                categoryName:"",
                createDate:"",
                price:0.0,
                remark:"",
                form:{
                    productCode:"",
                    name:"",
                    unitName:"",
                    categoryName:"",
                    createDate:"",
                    price:"",
                    remark:"",
                },
                categoryNames:[],
                restaurants: [],
                state: '',
                options:[],
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                },
                value2: '',
                oldProductCode:""
            },
            methods:{
                init:function (){
                    this.getData(this.currentPage,this.pageSize,this.account,this.name);
                },
                getData:function (curP,pSize){
                    let that = this;
                    axios.get("getProducts?currentPage="+curP+"&pageSize="+pSize).then(function (resp){
                        that.tableData = resp.data.data.lists;
                        console.log(resp.data.data.totalRecord)
                        that.totalRecord = resp.data.data.totalRecord;
                    });
                    axios.get("categoryNameMassage").then(function (resp){
                        console.log(resp.data.data);
                        that.categoryNames = resp.data.data;
                    });
                },
                handleCurrentChange:function (val){
                    this.currentPage = val;
                    this.getData(this.currentPage,this.pageSize,this.account,this.name);
                },
                handleSize:function (val){
                    this.pageSize = val;
                    this.currentPage = 1;
                    this.getData(this.currentPage,this.pageSize,this.account,this.name);
                },
                sureAdd:function (){
                    debugger
                    this.dialogFormVisible = false;
                    let that = this;

                    let date = new Date(this.form.createDate);
                    console.log(date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate());
                    let dateStr = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();

                    let product = {
                        oldProductCode:this.oldProductCode,
                        productCode:this.form.productCode,
                        name:this.form.name,
                        unitName:this.form.unitName,
                        categoryName:this.form.categoryName,
                        createDate:dateStr,
                        price:this.form.price,
                        remark:this.form.remark
                    };
                    console.log(product);
                    console.log(this.form.createDate)
                    axios.post("addOrUpdateProduct",product).then(function (resp){
                        if(resp.data.code == "200"){
                            that.$message({
                                message: resp.data.message,
                                type: 'success'
                            });
                            that.cancel();
                            that.init();
                        }
                    });
                },
                updateProduct:function (product){
                    this.dialogFormVisible = true;
                    console.log(product)
                    this.oldProductCode = product.productCode;
                    this.form.productCode = product.productCode;
                    this.form.name = product.name;
                    this.form.unitName =  product.unitName;
                    this.form.categoryName =  product.categoryName;
                    this.form.createDate =  product.createDate;
                    this.form.price =  product.price;
                    this.form.remark =  product.remark;
                },
                delProduct:function (productCode){
                    let that = this;
                    if(window.confirm("确定删除？")){
                        axios.get("delProduct?productCode="+productCode).then(function (resp){
                            if(resp.data.code == "200"){
                                that.$message({
                                    message: '成功',
                                    type: 'success'
                                });
                                that.init()
                            }
                        }).catch(function (){
                            that.$message({
                                message: '该用户有关联的数据，不能删除！',
                                type: 'error'
                            });
                        });
                    }
                },
                closeBefore:function (){
                    this.cancel();
                },
                cancel:function (){
                    this.dialogFormVisible = false;
                    this.form.productCode = "";
                    this.form.name = "";
                    this.form.unitName ="";
                    this.form.categoryName =this.form.createDate = this.form.price = this.form.remark = "";
                },
        }});
        vm.init();
    }
</script>